version: 1.0.1-{build}
before_build:
- ps: nuget restore
init:
- ps: Set-WinSystemLocale ru-RU
- ps: Start-Sleep -s 5
- ps: Restart-Computer
install:
- cmd: >-
    choco install onescript-cli -y

    refreshenv

    opm install opm

build:
  verbosity: minimal
test_script:
- ps: nunit3-console --x86 NUnitTests\bin\Debug\NUnitTests.dll

after_build:
- cmd: >-
    copy v8unpack\bin\Debug\v8unpack.dll oslib\

    cd oslib

    opm build .

    cd ..

artifacts:
- path: oslib\*.ospx
  name: v8unpack
- path: oslib\*.dll
  name: components
